/* sombra del boton: #a03f3a */
/* orange color: #F06449 */
/* negro pizarra: #36382E */
/* background:  */

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lucida+Sans+Typewriter&display=swap");

body {
    margin: 0 auto;
    background-color: #EDE6E3;
    width: 80vw;
    /* height: 80vw; */
}

.popup {
    width: 25rem;
    height: 20rem;
    background: #36382E;
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 0 30px 30px;
    text-align: center;
    border: solid 0.05rem black;
    visibility: hidden;
    transition: transform 0.4s, top 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup img {
    width: 10rem;
    margin-top: -5rem;
}

.popup h2 {

}
 .popup button {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem 0;
    background: #F06449;
    color: white;
    border: 0;
    outline: none;
    
 }
 .open-winner-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
 }

 .open-loser-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
 }

h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
    font-family: 'Fredericka the Great', cursive;
}

p {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

}

a{
    color: white;
    text-decoration: none;
}

#start-game {
    display: flex;
    justify-content: center;
}

#score-div {
    margin: 3rem 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-family: 'Fredericka the Great', cursive;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    
}

#buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 5rem;
}

button {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    background-color: #36382E;
    color: white;
    transition-duration: 0.4s;
    border-radius: 0.25rem;

}

#die-btn:hover, #der-btn:hover, #das-btn:hover {
    background-color: white;
    color: #36382E;
  }

#word-container {
    box-shadow: 7px 7px 10px lightgray;
    padding: 8rem 8rem;
    width: 450px;
    display: flex;
    justify-content: center;    
    font-size: 2rem;
    font-family: 'Lucida Sans Typewriter', monospace;
    background-color: #fffffc;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
    margin-left: 5rem;
    display: flex;
    
}

#word-container > span {
    margin: 0.5rem;
   
}

#start-div {
    width: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
}

.start-btn {
    margin: 4rem 0rem;
    padding: 2rem 4rem;
    width: auto;
    cursor: pointer;
    display: block;
    position: relative;
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#F06449;
    border: solid #a03f3a;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
  
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #a03f3a;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #a03f3a;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #a03f3a;
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.start-btn:active{
    top:10px;
    background-color:#df513c;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #96483a;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #96483a;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #96483a;
  }
  
  .start-div:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Lucida+Sans+Typewriter&display=swap");